<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Css -->
     <link rel="stylesheet" href="style.css">

     <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <title>Vue Todo</title>
</head>
<body>
    <div id="app">
        <main>
            <div class="container">
                
                <h1>
                    Vue To Do List
                </h1>


                <!-- Lista delle cose da fare -->
                <div>
                    <ul>
                        <li v-for="(element, index) in Todolist" :class="element.done == true ? 'sbarrato': ' ' ">
                            
                            {{ element.task }}

                            <button class="DoneBtn" @click="RemoveTask">
                                &#x00d7;
                            </button>
                        </li>
                        
                    </ul>

                    <input type="text" placeholder="Aggiungi una nuova task" v-model="SaveInputTask">
                    <span>
                        <button class="AddNewTask"  @click="AddNewTask()">
                            +
                        </button>
                    </span>
                </div>
            </div>
            
        </main>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>